In [227]:
# data source: https://www.kaggle.com/orgesleka/imdbmovies

# 1. String Manipulation Methods (READ-AND-PLAY)

In [161]:
# Run this code
import pandas as pd

In [162]:
# Run this code
string = '    pen,pineapple,apple, pen   '
print(string)

    pen,pineapple,apple, pen

`split()` method 

- split a string into a list where each word is a list item
- we specify the `separator` to use when splitting the string
- we can specifies how many splits to do by setting `maxsplit` parameter

In [163]:
# Split the string using separator ','
string.split(',')

['    pen', 'pineapple', 'apple', ' pen   ']

In [164]:
# Run this code
string_2 = 'summer#autumn   #spring  # winter'
print(string_2)

summer#autumn   #spring  # winter

In [165]:
# Split the string using separator '#'
string_2.split('#')

['summer', 'autumn   ', 'spring  ', ' winter']

In [166]:
# Split string_2 and set the maxsplit parameter to 2 (this should return a list with 3 elements)
x = string_2.split('#', 2)
print(x)

['summer', 'autumn   ', 'spring  # winter']

`strip()` method

- it removes whitespaces at the beginning and at the end of the string
- this method is very often combined with `split()` when we can use also **list comprehension**

In [167]:
# Remove whitespaces in the variable our_string
our_string = '  There,  is,    a, lot,   of, space,    here,let`s  , remove,  it. '
our_result = [x.strip() for x in our_string.split(',')]
print(our_result)

['There', 'is', 'a', 'lot', 'of', 'space', 'here', 'let`s', 'remove', 'it.']

`join()` method

- this method takes all items in an iterable and joins them into one string

In [168]:
# Run this code
my_list = ['Please', 'join', 'these', 'items.']
'_'.join(my_list)

'Please_join_these_items.'

In [169]:
# Run this code
my_tuple = ('We','are', 'joining', 'again.')
'-'.join(my_tuple)

'We-are-joining-again.'

In the case of a dictionary, `join()` tries to join keys of the dictionary, not values.

In [170]:
# Run this code
my_dictionary = {'Key_1':'1',
                 'Key_2':'2'}
'#'.join(my_dictionary)

'Key_1#Key_2'

`index()`

- returns position of first character in substring if found in the string
- Raises `ValueError` if not found

In [171]:
# Run this code
string_3 = 'That is my string'

In [172]:
# Find the position of 'm' using `index()`
string_3.index('m')

8

`find()`

- returns position of first character of first occurence of substring in the string
- this method is like `index()`, but returns -1 if not found

In [173]:
# Find the position of 'g' using `find()`
string_3.find('g')

16

`replace()`

- replace occurences of string with another string
- commonly used to remove characters by passing an empty string

In [174]:
# Replacing string in string_3
string_3.replace('is','was')

'That was my string'

In [175]:
# Run this code
string_4 = 'Why is here a semicolon; ?'

In [176]:
# Replacing character
string_4.replace(';','')

'Why is here a semicolon ?'

In [177]:
# Run this code
string_5 = 'Banana, avocado, pineapple, artichoke'

In [178]:
# TASK 1 >>>> Use .replace() method to replace 'a' with 'A' in string_5 and store it in variable result_1
result_1 = string_5.replace('a', 'A')
print(result_1)

BAnAnA, AvocAdo, pineApple, Artichoke

`upper()` method

- converts all lowercase characters in a string into uppercase characters and returns it

`lower()` method
- converts all uupercase characters in a string into lowercase characters and returns it

In [179]:
# Run this code
string_to_upper = "Make this uppercase"
print(string_to_upper.upper())

MAKE THIS UPPERCASE

In [180]:
# Run this code
string_to_lower = 'THIS SHOULD BE ALL LOWERCASE'
print(string_to_lower.lower())

this should be all lowercase

# 2. Project: Cleaning Column Names

In [181]:
# Import pandas library
import pandas as pd
data = pd.read_csv('/content/avocado.csv')

If we take a look at the column names, we can notice that these needs some cleaning, such as removing the whitespaces. Some systems and data pipelines can have issues with these.

In [182]:
# Run this code
data_2015 = data[data['year'] == 2015]
data_2015.columns

Index(['Date', 'AveragePrice', 'Total Volume', 'Small Hass Avocado',
       'Large Hass Avocado', 'Extra Large Hass Avocado', 'Total Bags',
       'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year', 'region'],
      dtype='object')

Let's use lambda for that and three of the functions which we just learned - strip, lower and replace.

In [183]:
# Run this code
data_2015.rename(columns = lambda x: x.strip().lower().replace(' ','_'), inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [184]:
# Run this code
data_2015.head()

         date  averageprice  ...  year              region
0  2015-01-04          1.75  ...  2015           Southeast
1  2015-01-04          1.49  ...  2015             Chicago
2  2015-01-04          1.68  ...  2015  HarrisburgScranton
3  2015-01-04          1.52  ...  2015          Pittsburgh
4  2015-01-04          1.64  ...  2015               Boise

[5 rows x 13 columns]

One column is still ugly. It would not be worth it to attempt and write specific function for it. We address it manually via dictionary.

In [185]:
# BONUS TASK - Hints: use .rename() method and specify columns through dictionary, i.e. 'column_to_clearn':'cleaned_column'
data_2015.rename(columns={'averageprice':'average_price'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

# 3. Cleaning Text Column (READ-ONLY)

Imagine we have 2 possible categories of avocado (A and B) in the same row for the same day that separated with '/'. 
It would be an issue for us if we'd like to explore and visualize data based on the avocado's category. 

We can use `str.split()` method to resolve this issue in few steps.

In [186]:
# Run this code - don't worry what it does
data_avo = {'day':'Monday',
            'category':'A/B',
            'type':'organic'}
monday_data = pd.DataFrame(data_avo, range(10))

Let's now examine the special altered dataset which we created. You will notice that in the 'category' column. we have A and B symbols. These represent avocado types, which means that in **every row we have stored 2 observations**. That is not good and we need to split each row into 2 separate rows.

In [187]:
# Run this code
monday_data

      day category     type
0  Monday      A/B  organic
1  Monday      A/B  organic
2  Monday      A/B  organic
3  Monday      A/B  organic
4  Monday      A/B  organic
5  Monday      A/B  organic
6  Monday      A/B  organic
7  Monday      A/B  organic
8  Monday      A/B  organic
9  Monday      A/B  organic

At first, we use split method to create a list of two objects out of the original element in the column. Take a look.

In [188]:
# Firstly, split the 'category' column with separator '/'
monday_data['category'] = monday_data['category'].str.split('/')
monday_data

      day category     type
0  Monday   [A, B]  organic
1  Monday   [A, B]  organic
2  Monday   [A, B]  organic
3  Monday   [A, B]  organic
4  Monday   [A, B]  organic
5  Monday   [A, B]  organic
6  Monday   [A, B]  organic
7  Monday   [A, B]  organic
8  Monday   [A, B]  organic
9  Monday   [A, B]  organic

The upcoming step is hard, try to follow.
- next we use `apply()` function on `monday_data` that return Series: use lambda function `lambda x:` to create new Series - we also need to specify axis = 1 which return a new column for avocado's type
- after the `apply()` part add `stack()` - to stack avocado's category

In [189]:
# Run this code
series_2 = monday_data.apply(lambda x: pd.Series(x['category']), axis = 1).stack()

As you can see below, **categories are now separated into new rows**: 10 observation for Monday. However there is also new level (another index) for A and B that we don't need anymore.

In [190]:
# Run this code
series_2

0  0    A
   1    B
1  0    A
   1    B
2  0    A
   1    B
3  0    A
   1    B
4  0    A
   1    B
5  0    A
   1    B
6  0    A
   1    B
7  0    A
   1    B
8  0    A
   1    B
9  0    A
   1    B
dtype: object

We can remove this index using `reset_index()`: 
- use `drop = True`
- set `level = 1`

In [191]:
# Run this code
series_2 = monday_data.apply(lambda x: pd.Series(x['category']), axis = 1).stack().reset_index(level = 1, drop = True)

- give the Series (it will be a new column) a name 'avocado_category'

In [192]:
# Run this code
series_2.name = 'avocado_category'

- drop the column 'category' from `new_data` (this is the column that contain A/B), set axis = 1
- join `series_2` where we have separated categories

In [193]:
# Run this code
new_data = monday_data.drop('category', axis = 1).join(series_2)

In [194]:
# Run this code
new_data

      day     type avocado_category
0  Monday  organic                A
0  Monday  organic                B
1  Monday  organic                A
1  Monday  organic                B
2  Monday  organic                A
2  Monday  organic                B
3  Monday  organic                A
3  Monday  organic                B
4  Monday  organic                A
4  Monday  organic                B
5  Monday  organic                A
5  Monday  organic                B
6  Monday  organic                A
6  Monday  organic                B
7  Monday  organic                A
7  Monday  organic                B
8  Monday  organic                A
8  Monday  organic                B
9  Monday  organic                A
9  Monday  organic                B

# 4. Project: Cleaning Text Column

In [195]:
# Run the code
import numpy as np
data_1 = pd.read_csv('/content/movie_metadata.csv')
movie_data = data_1.iloc[:,np.r_[1:3, 8:13]]

In [196]:
# Display first 5 rows of movie_data and look at the genres column
movie_data.head()

       director_name  ...  num_voted_users
0      James Cameron  ...           886204
1     Gore Verbinski  ...           471220
2         Sam Mendes  ...           275868
3  Christopher Nolan  ...          1144337
4        Doug Walker  ...                8

[5 rows x 7 columns]

Now we use the same way to split genres of movies, the only difference is the separator '|'.

In [197]:
# TASK MUST DO Split the 'genres' column with separator '/'
movie_data.genres = movie_data.genres.str.split('|')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [198]:
# Create a new Series for genres using lambda function and apply it to movie_data
series_genres = movie_data.apply(lambda x: pd.Series(x['genres']), axis = 1).stack().reset_index(level = 1,drop = True)

In [199]:
# Print the new Series
print(series_genres)

0            Action
0         Adventure
0           Fantasy
0            Sci-Fi
1            Action
           ...
5040       Thriller
5041         Comedy
5041          Drama
5041        Romance
5042    Documentary
Length: 14504, dtype: object

In [200]:
# Give the Series (new column) name 'genre'
series_genres.name = 'genre'

In [201]:
# TASK 2 >>>> Drop the old column 'genres' from movie_data on axis = 1
#             Join new Series 'series_genres'
our_movie_data = movie_data.drop('genres', axis = 1).join(series_genres)

In [202]:
# Run this code
print(our_movie_data)

         director_name  num_critic_for_reviews  ...  num_voted_users        genre
0        James Cameron                   723.0  ...           886204       Action
0        James Cameron                   723.0  ...           886204    Adventure
0        James Cameron                   723.0  ...           886204      Fantasy
0        James Cameron                   723.0  ...           886204       Sci-Fi
1       Gore Verbinski                   302.0  ...           471220       Action
...                ...                     ...  ...              ...          ...
5040  Benjamin Roberds                    13.0  ...               38     Thriller
5041       Daniel Hsia                    14.0  ...             1255       Comedy
5041       Daniel Hsia                    14.0  ...             1255        Drama
5041       Daniel Hsia                    14.0  ...             1255      Romance
5042          Jon Gunn                    43.0  ...             4285  Documentary

[14504 rows x 7 columns]

# 5. Regular expressions

- provide a flexible way to serach or match string patterns in text
- a single expression, commonly called a **regex**, is a string formed according to the regular expression language

- using built-in module `re` we can apply regular expressions to strings

In [203]:
# Import re module
import re

Regex Methods

There is a set of methods that allows us to search a string for a match:

`findall`
- returns a list that contain all matches

`findinter`
- returns them one by one from an iterator

`match`
- if zero or more characters at the beginning of string match this regular expression, return a corresponding match object

`search`
- scan through string looking for the first location where regular expression produces a match and return a corresponding match object

`split`
- breaks string into pieces at each occurence of pattern

`sub, subn`
- replace all (sub) or first n occurences (subn) of pattern in string with replacement expression

In [204]:
# Split string called 'sentence' by whitespaces 
sentence = 'This  sentence contains     whitespace'

To split this string we need to call `re.split()`. 

Within this method we specify regex `'\s+'` describing one ore more whitespace character and string to split (in our case 'sentence').

Firstly, the regex is complied and then the split function is called on the passed string.

In [205]:
# Run this code
re.split('\s+', sentence)

['This', 'sentence', 'contains', 'whitespace']

With `re.compile()` we can combine a regular expression pattern into pattern objects, which can be used for pattern matching
- this approach is recommended if you intend to apply the same expression to many strings

In [206]:
# Run this code
our_regex = re.compile('\s+')

In [207]:
# Split string 'sentence' using regex object 'our_regex'
our_regex.split(sentence)

['This', 'sentence', 'contains', 'whitespace']

In [208]:
# Get the list of all patterns that match regex using findall() method
our_regex.findall(sentence)

['  ', ' ', '     ']

In [209]:
# Create regex object that match pattern contain 'e' neieco taketo vytvorit
another_regex = re.compile('e')

In [210]:
# Run the code
sentence_2 = 'Learning RegEx is fun'

In [211]:
# Return the list that contain all matches in string 'sentence_2'
another_regex.findall(sentence_2)

['e', 'e']

As you can see, the regex object performed case-sensitive matching and matched lowercase letters only. 

We can also define case insensitive regex object during the pattern compile using `flags = re.IGNORECASE`

In [212]:
# Create regex object that is not case sensitive using re.IGNORECASE
regex_sensitive = re.compile('e', flags = re.IGNORECASE)

In [213]:
# Run this code
regex_sensitive.findall(sentence_2)

['e', 'e', 'E']

In [214]:
text = 'Regex, Regex pattern, Expressions'
# Create regex object that match pattern contain 's'
pattern = re.compile('s')

In [215]:
# Check for a match anywhere in the string using .search()
pattern.search(text)

As you can see `search` returns only the start and end position of the pattern.

In [216]:
# Check for a match only at the beginning of the string using .match()
pattern.match(text)

In [217]:
# Run this line of code
email = 'Email addresses of our two new employees are first.example@gmail.com and second_example@gmail.com'

In [218]:
# Write a regex to match email addresses
email_pattern = r'[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'

In [219]:
# Create a regex object that match email addresses and make it case-insensitive
rege = re.compile(email_pattern, flags = re.IGNORECASE)

In [220]:
# Get list of email addresses from 'email' string
rege.findall(email)

['first.example@gmail.com', 'second_example@gmail.com']

In [221]:
# Search for the position of the first email address in the string 'email'
rege.search(email)

In [222]:
text = 'The average price of the avocados was $1.35 last year, hopefully, this year the price don`t exceed $1.50 for a piece!'

In [223]:
# TASK 3 >>>> Google for Regex patern to match decimal numbers and assign it to variable decimal_number
decimal_number = "[0-9]*[.][0-9]*"

In [224]:
# Regex object that match decimal number - won't work if TASK 3 is not completed
pattern_dec = re.compile(decimal_number)

In [225]:
# Run this code - won't work if TASK 3 is not completed
pattern_dec.findall(text)

['1.35', '1.50']