# 0. Loading the dataset

In [ ]:
# Import pandas, matplotlib and seaborn libraries
import pandas as pd
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt
import seaborn as sns
# Import Image, warnings
from IPython.display import Image
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Set the parameters and the style for plotting
params = {'figure.figsize':(12,8),
         'axes.labelsize':13,
         'axes.titlesize':16,
         'xtick.labelsize':11,
         'ytick.labelsize':11
         }
plt.rcParams.update(params)
sns.set_style("whitegrid")

In this notebook, we will be using dataset Titanic containing information about passengers to inspect continuous, discrete, binary and categorical variables.

In [ ]:
# Load the dataset 'Data/titanic_data.csv' and store it to variable data
data = pd.read_csv('Data/titanic_data.csv')
# Get first 5 rows of the data
data.head()

In [ ]:
# Get the dimensions of the data
data.shape

We have 891 observations and 12 variables in our dataset, let's look at the definition of variables:

**Data dictionary:**
- passengerID
- Survived: 0 = No, 1 = Yes
- Pclass: Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
- Name
- Sex
- Age
- SibSp: # of siblings or spouses aboard the Titanic
- Parch: # of parents or children aboard the Titanic
- Ticket: ticket number
- Fare: passenger fare
- Cabin: cabin number
- Embarked: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

# 1. Continuous variables

Firstly, let's look at the distribution of the passenger fares.

In [ ]:
# Plot the distribution of the residual sugar
plt.hist(data['Fare'], bins = 30, color = 'skyblue')
plt.xlabel('Fare')
plt.ylabel('Counts')
plt.title('The distribution of passenger`s fare', fontsize = 18)
sns.despine(left=True, bottom=True);

As we can see from the graph above, the passenger's fares vary across the range from value 0 up to approximately value 500.

# 2. Discrete variables

Now we'll explore the variable SibSp which represents number of parents or children aboard the Titanic. This variable is specified as discrete variable, because the passengers can have 1 or 2 childrens, not 1.5 child.

Let's look how many unique values has 'SibSp' variable.

In [ ]:
# Get the counts of unique values of column 'SibSp'
data['SibSp'].value_counts()

In [ ]:
# Plot the counts of unique values of column 'SibSp'
plt.hist(data['SibSp'], bins = 30, color = 'darkgreen')
plt.xlabel('Number of parents or children')
plt.ylabel('The counts')
plt.title('Parents or children aboard the Titanic', fontsize = 18)
sns.despine(left=True, bottom=True);

The values differ by fixed number (amount), and therefore there are space between values when we are plotting them.

# 3. Binary variables

Binary variable is a variable that can take only 2 values, in our case 0 (not survived) and 1 (survived).

In [ ]:
# Run this 
Image('Images/binary.jpeg')

Now, we'll look how the histogram of 'Survived' column looks like.

In [ ]:
# Get the unique values of 'Survived' column
data['Survived'].unique()

In [ ]:
# Plot the variable 'Survived'
plt.hist(data['Survived'], bins = 30, color = 'skyblue')
plt.xlabel('Not survived (0) / Survived (1)')
plt.ylabel('The counts')
sns.despine(left=True, bottom=True);

In this case it would be better to show the counts along with for example the gender of passengers.

In [ ]:
# Make countplot of survivals based on sex
sns.countplot(x = "Sex", hue = "Survived", data = data)
plt.xlabel('The gender of passengers')
plt.ylabel('Counts')
plt.title("Survived by Sex", fontsize = 18)
sns.despine(left=True, bottom=True);

In [ ]:
# TASK 1 >>>> Make countplot of survivals based on their Class ('Pclass' column)

# 4. Categorical variables

A categorical variable takes on a limited, and usually fixed, number of possible values (categories).

In [ ]:
data.dtypes

'Pclass' column is one of the categorical variable in our dataset, although it has 'int' datatype.

When we want to convert the datatype of variable we can easily convert it to categorical variable using `.astype('category')` or we can use an instance of `CategoricalDtype`. Here we have more control and can set the order of categories [1,2,3], pass it within `CategoricalDtype` and then we assign it to 'Pclass' column.

In [ ]:
# Set the categories, set parameter ordered = True, assign in to 'Pclass' column using astype()
cat = [1,2,3]
cat_type = CategoricalDtype(categories = cat, ordered = True)
data['Pclass'] = data['Pclass'].astype(cat_type)

In [ ]:
# Plot counts of the categories of 'Pclass' column using .plot(kind = 'bar')
data['Pclass'].value_counts(sort = False).plot(kind = 'bar')
plt.xlabel('The class')
plt.ylabel('Counts')
plt.title('Class', fontsize = 18)
sns.despine(left=True, bottom=True);

In [ ]:
# Get the categories of 'Embarked' column
data['Embarked'].value_counts()

There are three ports of embarkation in our dataset: C = Cherbourg, Q = Queenstown and S = Southampton.

In [ ]:
# TASK 2 >>>> Plot counts of the categories of 'Embarked' column using .plot(kind = 'bar')

As we can see the majority of passengers have embarked in Southampton.

# Appendix

Data source: https://www.kaggle.com/hesh97/titanicdataset-traincsv

Data license: CC0: Public Domain