# Variable scale / Magnitude

In [18]:
# Import pandas library and disable warnings
import pandas as pd
import warnings
warnings.simplefilter("ignore")
# Import MinMaxScaler to scale the features
from sklearn.preprocessing import MinMaxScaler
# Import train_test_split to separate train and test set
from sklearn.model_selection import train_test_split

In [23]:
# Load avocado dataset and store it to variable data
data = pd.read_csv('Data/avocado.csv')
data.head()

,Date,AveragePrice,Total Volume,Small Hass Avocado,Large Hass Avocado,Extra Large Hass Avocado,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-01-04,1.75,27365.89,9307.34,3844.81,615.28,13598.46,13061.10,537.36,0.0,organic,2015,Southeast
1,2015-01-04,1.49,17723.17,1189.35,15628.27,0.00,905.55,905.55,0.00,0.0,organic,2015,Chicago
2,2015-01-04,1.68,2896.72,161.68,206.96,0.00,2528.08,2528.08,0.00,0.0,organic,2015,HarrisburgScranton
3,2015-01-04,1.52,54956.80,3013.04,35456.88,1561.70,14925.18,11264.80,3660.38,0.0,conventional,2015,Pittsburgh
4,2015-01-04,1.64,1505.12,1.27,1129.50,0.00,374.35,186.67,187.68,0.0,organic,2015,Boise

In [24]:
data.shape

(18249, 13)

In [ ]:
usecols = ['AveragePrice','Total Volume','Small Hass','Large Bags', 'Small Bags','Extra Large Bags']

In [14]:
data.describe()

       AveragePrice  Total Volume    Small Bags    Large Bags
count  18249.000000  1.824900e+04  1.824900e+04  1.824900e+04
mean       1.405978  8.506440e+05  1.821947e+05  5.433809e+04
std        0.402677  3.453545e+06  7.461785e+05  2.439660e+05
min        0.440000  8.456000e+01  0.000000e+00  0.000000e+00
25%        1.100000  1.083858e+04  2.849420e+03  1.274700e+02
50%        1.370000  1.073768e+05  2.636282e+04  2.647710e+03
75%        1.660000  4.329623e+05  8.333767e+04  2.202925e+04
max        3.250000  6.250565e+07  1.338459e+07  5.719097e+06

In [15]:
for col in['AveragePrice','Total Volume','Large Bags', 'Small Bags'] :
    print(col, 'range: ', data[col].max() - data[col].min())

AveragePrice range:  2.81
Total Volume range:  62505561.96
Large Bags range:  5719096.61
Small Bags range:  13384586.8

In [19]:
X_train, X_test, y_train, y_test = train_test_split(
    data[['AveragePrice','Total Volume','Large Bags', 'Small Bags']],
    data.AveragePrice,
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((12774, 4), (5475, 4))

In [20]:
# scale the features between 0 and 1.

# cal the scaler
scaler = MinMaxScaler()

# fit the scaler
scaler.fit(X_train)

# re scale the datasets
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [21]:
#let's have a look at the scaled training dataset

print('Mean: ', X_train_scaled.mean(axis=0))
print('Standard Deviation: ', X_train_scaled.std(axis=0))
print('Minimum value: ', X_train_scaled.min(axis=0))
print('Maximum value: ', X_train_scaled.max(axis=0))

Mean:  [0.3438089  0.01354779 0.00942789 0.01354084]
Standard Deviation:  [0.14391409 0.05558859 0.04312771 0.05643891]
Minimum value:  [0. 0. 0. 0.]
Maximum value:  [1. 1. 1. 1.]

Optional: find in the documentation other options to rescale the variables.