# 1. Database-style DataFrame Merges

Merge operations combine DataFrames on common columns or indices.

In [ ]:
# Import pandas as pd
import pandas as pd

In [ ]:
# Run this code
data_1 = pd.DataFrame({'key':['A','B','C','B','E','F','A','H','A','J'],
                      'values_1': range(10)})
print(data_1)

In [ ]:
# Run this code
data_2 = pd.DataFrame({'key':['A','B','C'],
                       'values_2':range(3)})
print(data_2)

Our first DataFrame **data_1** has multiple rows labeled 'A' and 'B', whereas DataFrame **data_2** has only 1 row for each value in the `key` column. It is an example of `many-to-one` $^{1}$ merge situation.

By merging these 2 dataframes we obtain following result:

In [ ]:
# Merge data_1 and data_2
pd.merge(data_1, data_2)

Our DataFrames have the same column `key ` and in this case `.merge()` uses the overlapping column names as `keys` to join on. However it is a good practice to specify explicitly the `key` column like this:

In [ ]:
# Merge data_1 and data_2, specify key column
pd.merge(data_1, data_2, on = 'key')

As you can notice 'E', 'F', 'H', 'J'  and associated data are missing from the result. It is because `merge()` acts with 'inner' merge (join) by default. However, we can explicitly specify it using `how = 'inner'`

**inner join** (or inner merge) keeps only those values that have common key in both DataFrames, in our case 'A', 'B' and 'C'. 


Other possible options are:
 
- **left join** (left outer join)

We specify `how = 'left'`: keeps each row from the left DataFrame and only those from the right DataFrame that match. Non-matching values are replaced with NaNs.


- **right join** (right outer join)

We specify `how = 'right'`: it is the opposite of left join. Non-matching values are filled with NaNs as well.

- **outer** (full outer join)

We specify `how = 'outer'`: it takes the union of the keys and applies both left and right join

In [ ]:
# Merge the DataFrames data_1 and data_2 with left join
pd.merge(data_1, data_2, on = 'key', how = 'left')

In [ ]:
# TASK 1 >>>> Merge the dataframes data_1 and data_2 on 'key', specify right join

In [ ]:
# TASK 2 >>>> Merge the dataframes data_1 and data_2 on 'key', specify full outer join

If the key column names are different in each DataFrame object, we can specify them separately.

- for the left DataFrame: `left_on`
- for the right DataFrame: `right_on`

In [ ]:
# Run this code
data_3 = pd.DataFrame({'key_left': ['E','F','G','H','I','J'],
                       'values': range(6)})
print(data_3)

In [ ]:
# Run this code
data_4 = pd.DataFrame({'key_right': ['D','E','F','G'],
                       'values_2': range(4)})
print(data_4)

In [ ]:
# Merge the DataFrames data_3 and data_4, specify left and right keys to join on
# Specify inner join 
pd.merge(data_3, data_4, left_on= 'key_left', right_on= 'key_right', how = 'inner')

In [ ]:
# Run this code
df_1 = pd.DataFrame({'key': ['red','black','yellow','green','black','pink','white','black'],
                     'values': range(8)})
print(df_1)

In [ ]:
# Run this code
df_2 = pd.DataFrame({'key': ['white','pink','gray','yellow','black','black','black'],
                     'values': range(7)})
print(df_2)

In [ ]:
# Merge df_1 and df_2 on 'key', specify left join
pd.merge(df_1, df_2, on = 'key', how = 'left')

This is `many-to-many` $^{1}$ join situation which creates **Cartesian product** of the rows. In the result we can see we have 9 'black' rows. It is because there is 3 'black' rows in the left DataFrame df_1 and 3 'black' rows in the right DataFrame df_2, so in the result we have every combination of rows where the key is equal to 'black'

As you can see `merge()` automatically rename column as 'values_x' and 'values_y' to distinguish where the values belong to. We can explicitly specify these column's names with suffixes option. We only need to pass desired names into the list like this: `suffixes=['_from_df1', '_from_df2']`.

In [ ]:
# Merge df_1 and df_2 on 'key', specify left join
# Set parameter suffixes=[]
pd.merge(df_1, df_2, on = 'key', how = 'left', suffixes=['_from_df1', '_from_df2'])

- if we want to merge with multiple keys we have to pass a list of columns names:

In [ ]:
# Run this code
df_3 = pd.DataFrame({'key_1':['apple','banana','coconut','pineapple','strawberry'],
                     'key_2':['yes','maybe','maybe','yes','no'],
                     'values_1': range(5)})
print(df_3)

In [ ]:
# Run this code
df_4 = pd.DataFrame({'key_1':['apple','banana','coconut','strawberry','strawberry'],
                     'key_2':['no','maybe','yes','no','no'],
                     'values_1': range(5)})
print(df_4)

In [ ]:
# Merge DataFrames df_3 and df_4 on column keys 'key_1' and 'key_2' passed within the list and specify inner join
pd.merge(df_3, df_4, on = ['key_1', 'key_2'], how = 'inner')

# 2. Advanced and Alternative Methods (READ-AND-PLAY)
If you are familiar and fine with using the merge method, you should be good to go. You might however stumble also upon some alternative, sometimes more complex methods, doing similar things. Let's read through those.

## 2.1 Merging DataFrames on the Index

Our key or keys columns for merging can be found in a DataFrame as an index. In this case we can use the parameters `left_index = True` or `right_index = True` (or both) to indicate that the index should be used as the merge key.

- left_index : bool (default False)
   - if True will choose index from left DataFrame as join key
- right_index : bool (default False)
   - if True will choose index from right DataFrame as join key

In [ ]:
# Run this code
students = [(1, 'Robert', 30, 'Slovakia', 26),
           (2, 'Jana', 29, 'Sweden' , 27),
           (3, 'Martin', 31, 'Sweden', 26),
           (4, 'Kristina', 26,'Germany' , 30),
           (5, 'Peter', 33, 'Austria' , 22),
           (6, 'Nikola', 25, 'USA', 23),
           (7, 'Andrej', 25, 'USA', 26)]

students_1 = pd.DataFrame(students, columns= ['student_id', 'first_name', 'age', 'city', 'score'])
students_1.set_index('student_id', inplace = True)
print(students_1)

In [ ]:
# Run this code
programs = [(1, 'Data Science', 3),
            (2, 'Data Analyst', 1),
            (3, 'Microbiology', 4),
            (4, 'Art History', 2),
            (5, 'Chemistry', 5),
            (6, 'Economics', 4),
            (7, 'Digital Humanities', 2)]
programs_1 = pd.DataFrame(programs, columns= ['student_id', 'study_program', 'grade'])
programs_1.set_index('student_id', inplace = True)
print(programs_1)

As you can see, DataFrames `students_1` and `programs` share the same column 'student_id' that is set as an index.

In [ ]:
# Merge students_1 and programs on 'student_id' by passing `left_index = True` and `right_index = True`
merged_df = pd.merge(students_1, programs_1, how = 'inner', left_index = True, right_index = True)
print(merged_df)

## 2.2 Pandas `.join()`

- it is an object function - it means that it enables us to specify only 1 DataFrame, which will join the DataFrame you call `.join()` on
- by default it performs left join
- by default it **joins on indices**

In [ ]:
# Join students_1 and programs_1 
joined_df = students_1.join(programs_1)
print(joined_df)

In [ ]:
# Run this code, please
programs_1.reset_index(inplace = True)
students_1.reset_index(inplace = True)

If we want to join DataFrames that have overlapping column keys, we need to specify parameter `lsuffix` and `rsuffix`.

In [ ]:
# Join students_1 and programs_1
# Specify suffixes for both DataFrames
joined_df = students_1.join(programs_1, lsuffix = '_left', rsuffix = '_right')
print(joined_df)

# 2.3 Pandas `.concat()`

-concatenate function combines DataFrames across rows or columns 
- by default performs outer join, but we can specify inner join by setting `join = 'inner'`

- by default works along axis = 0 (rows)

`pd.concat([df1, df2])`

- we can pass axis = 1 to concatenate along columns 

`pd.concat([df1, df2], axis = 1)`

In [ ]:
# Concatenate students_1 and programs_11 along the rows
concat_by_rows = pd.concat([students_1, programs_1])
print(concat_by_rows)

Column names in DataFrames students_1 and programs_1 are not the same. As we can see in the exapmle above, by default, those columns have been also added on the result and NaN values have been filled in.

We can also create a hierarchical index on the concatenation axis, when we use argument `keys = ['key1','key2','key3','key_n'...]`.

In [ ]:
# Concatenate the DataFrames programs_1 and students_1 along the rows
# Set keys argument on columns 'student_id' and 'study_program'
conc = pd.concat([programs_1, students_1], keys = ['student_id','study_program'] )
print(conc)

In [ ]:
# Concatenate df_3 and df_4 along the rows
concat_df = pd.concat([df_3, df_4])
print(concat_df)

DataFrames df_3 and df_4 have the same column names 'key_1' and 'key_2'. Therefore the indices are repeating when tha DataFrames are stacked. If you want to have 0-based index, you'll need to set parameter `ignore_index = True` within `.concat()` function

In [ ]:
# Concatenate df_3 and df_4 along the rows
# Set the parameter `ignore_index = True`
concat_df_2 = pd.concat([df_3, df_4], ignore_index = True)
print(concat_df_2)

In [ ]:
# Concatenate students_1 and programs_11 along the columns
concat_by_columns = pd.concat([students_1, programs_1], axis = 1)
print(concat_by_columns)

## 2.4 Pandas `.append()`

- this method is a shortcut to `.concat()`
- it is used to add elements to the existing objects

In [ ]:
# Call .append() method on students_1 and pass programs_1 as an argument within the method
appended_df = students_1.append(programs_1)
print(appended_df)

We can append new rows to our existing DataFrames as well. We simply create a new Series (or a dictionary) with items and associated  indeces (column name) and append it to existing DataFrame using `.append()` method. New row can be appended only if the `ignore_index = True` argument is set within the method.

In [ ]:
# Run this code 
# It will create new_row which we'll append to the students_1 
new_row = pd.Series([8, 'Renata', 37, 'Czech Republic', 22],
                    index = ['student_id', 'first_name', 'age', 'city', 'score'])

In [ ]:
# Append new_row Series to the students_1 DataFrame 
# Set argument 'ignore_index = True'
students_1 = students_1.append(new_row, ignore_index = True)
print(students_1)

We can use `.append()` method to add both single element and list to existing list.

In [ ]:
# Run this code
list_1 = ['Today', 'is', 'a', 'good']

In [ ]:
# Append word 'day' to list_1
list_1.append('day')
print(list_1)

In [ ]:
# Run this code
new_list = [10,20,30,40,50]

In [ ]:
# Append new_list to list_1 
list_1.append(new_list)
print(list_1)

# 3. References

$^{1}$ Wes Mckinney (2013). Python for Data Analysis. (First ed.). California: O'Reilly Media, Inc.

# 3. Transforming DataFrames

## 3.1 `.map()` method

- this method on Series accepts a function or dict-like object containing a mapping
- it is a convenient way to perform element-wise transformations and other data cleaning-related operations
- it takes a function as a parameter along with a sequence of iterables (such as a list, tuple, dictionary, or set) and returns an output after applying the function to each iterable which is present in the sequence

Example code:

`map(function, iterable)`

In [ ]:
# Run this code
our_list = ['This', 'is', 'the', 'first', 'example']

In [ ]:
result = list(map(len, our_list))
print(result)

In the above example, `map()` iterates over the our_list, applies function on each element and return the length of the strings as a new list.

In [ ]:
# Run this code 
def triple(x):
  return x * 3

In [ ]:
# Run this code
numbers = pd.Series([15, 4, 8, 45, 36, 7])

In [ ]:
# TASK 3 >>>> Apply .map() method on the Series numbers, use function triple as a parameter and store it in variable result_2 
#           Print the result_2 (the result should by numbers multiply by 3)

In the above example, the `map()` method applies function **triple** to each element in the column 'age' returning a Series.

We can also use ``lambda function`` within the `map()` method. 

**Lambda Function**:
- it is an anonymous function (it means that it's defined without the name)
- it is used along with built-in functions
- lambda can have any number of parameters, but the function body can only contain one expression (you can not write multiple statements in the body of lambda function)

In [ ]:
# Example of lambda function where we use lambda keyword
our_lambda = lambda x: x * 2 + 5
print(our_lambda(5))

This simple lambda function takes input x (in our case number 5), multiply it by 2 and add 5.

In [ ]:
# Use map() function along with lambda to create new column 'result'
students_1['result'] = students_1['score'].map(lambda x: 'Pass' if x > 25 else 'Retake exam')
print(students_1)

Here we created new column 'result' in our students_1 DataFrame. We applied `map()` method on the column 'score' along with `lambda function` which simply returned the result based on our `if else` statement.

## 3.2 `.apply()` method

- objects passed to the function are Series objects whose index is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1)

In [ ]:
# Use .apply() method on column 'type' along with lambda to make uppercase letter
students_1['result'] = students_1['result'].apply(lambda x: x.upper())
print(students_1)

In [ ]:
# TASK 4 >>>> Use .apply() method along with built-in function str.upper()